# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# macOS files
.DS_Store

# Logs
*.log

# Other system files
Thumbs.db

# Temporary files
*.tmp
*.swp

# IDE-specific files
.vscode/
.idea/
